#input {
  height: 100px;
  width: 450px;
  margin: auto;
  gap: 20px;
  border: 1px black;
}
#output {
  height: 100px;
  width: 450px;
  gap: 5px;
}
.title {
  margin: center;
  color: white;
  gap: 30px;
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 450px;
  margin: 0 auto;
  background-color: rgb(73, 5, 150);
}
button:hover {
  background-color: rgb(128, 153, 223);
}
body {
  background: linear-gradient(to bottom, #040744, #0712e6);
}
button {
  background-color: rgb(95, 95, 226);
  border-radius: 10px;
  gap: 20px;

  padding: 10px;
}
html,
body {
  margin: 0;
  height: 100%;
}
